e4_5 {
    background-color: rgba(239.72550362348557, 251.81250303983688, 214.040629863739, 1);
    width: 931px;
    height: 545px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92;
}
